@using FGCFrameData.Models
@using System.Web.Hosting
@model List<Character>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="choose">SELECT YOUR FIGHTER</h2>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div id="characterRoster0">
                @foreach (var character in Model)
                {
                    <div class="characterIconContainer">
                        <a class="characterIcon" id="character_@character.Id" href="javascript:void(0);" onclick="showFrameData(@character.Id, 0)"><img src="@("/" + character.ImagePath)" alt="@character.Name"/></a>
                    </div>
                }
            </div>
            <div id="button0">
                <button type="button" class="btn-primary">Select new character</button>
            </div>
            <div id="characterMoves0"></div>
        </div>
        <div class="col-6">
            <div id="characterRoster1">
                @foreach (var character in Model)
                {
                    <div class="characterIconContainer">
                        <a class="characterIcon" id="character_@character.Id" href="javascript:void(0);" onclick="showFrameData(@character.Id, 1)"><img src="@("/" + character.ImagePath)" alt="@character.Name" /></a>
                    </div>
                }
            </div>
            <div id="button1">
                <button type="button" class="btn-primary">Select new opponent</button>
            </div>
            <div id="characterMoves1"></div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        var url = "@Url.Action("Index", "Characters", new {id = "CHARACTER_ID"})";

        function showFrameData(characterId, side) {

            var characterMoves = $(`#characterMoves${side}`);
            $("#choose").fadeOut('fast');
            $("#characterRoster" + side).fadeOut('slow');
            $("#button" + side).show();
            $("#characterMoves" + side).css({
                'overflow-x': 'auto'
            });
            $("#characterMoves" + side).fadeIn('slow');

            $.get(url.replace("CHARACTER_ID", characterId),
                function(data) {
                    characterMoves.html(data);
                });
        }

        $("#button0").on("click",
            function() {

                $("#characterRoster0").fadeIn('slow');
                $("#characterMoves0").fadeOut('slow');
                $("#button0").fadeOut('slow');

            });

        $("#button1").on("click",
            function() {

                $("#characterRoster1").fadeIn('slow');
                $("#characterMoves1").fadeOut('slow');
                $("#button1").fadeOut('slow');

            });

    
    </script>
}


