@using FGCFrameData.View_Models
@model MovesViewModel


<h2>@Model.CharacterName</h2>

<table class="table table-bordered table-hover" id="frameTable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Input</th>
        <th>Startup Frames</th>
        <th>Active Frames</th>
        <th>Recovery Frames</th>
        <th>Frame Adv. On Block</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var move in Model.Moves)
    {
        <tr>
            <td>@move.Name</td>
            <td>@move.Input</td>
            <td class="moveStartup">@move.StartupFrames</td>
            <td>@move.ActiveFrames</td>
            <td>@move.RecoveryFrames</td>
            <td class="moveFrameAdv">@move.FrameAdvantage</td>
        </tr>
    }
    </tbody>
</table>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $("#frameTable tr").mouseover(function () {
                $(this).addClass("hover");
            });
            $("#frameTable tr").mouseleave(function () {
                $(this).removeClass("hover");
            });
        });


    </script>
}
